.container-fluid
{
    padding: 0 7%;
}
.tagline
{
    font-size: 3.6rem;
    line-height:5.6rem;
}
body
{
    margin: 0;
}
a
{
    margin-right: 20px;
}
.navbar
{
    padding-top: 20px;
    line-height:5.6rem;
}
.secondsection
{
    margin-top: 30px;
}
.bg
{
    position: absolute;
    width: 21rem;
    height: 30rem;
    left: 800px;
}
.phone
{
    height: 550px;
    width: 600px;
    left: 650px;
 
}
.border-end
{
    border-right: 4px solid black;
}
.secondbutton
{
    margin-left: 20px;
}