.backgroundimg
{
    width: 21rem;
    height: 35rem;
    position: relative;
    display: inline-block;
    left: 64rem;
}
.phone
{
    height: 550px;
    width: 600px;
    position: relative;
    display: inline-block;
    left: 425px;
    top: 80px;

}
.ournav
{
    position: relative;
    display: inline-block;
}
.signin
{
    position: relative;
    display: inline-block;
    left: 20px;
}
.login
{
    position: relative;
    display: inline-block;
    left: 10px;
}
.tagline
{
    font-family: 'Raleway', sans-serif;
    position: relative;
    display: inline-block;
    bottom: 400px;
    left: 200px;
    font-size: 70px;
    text-align: left;
}
.secondtag
{
    font-family: 'Raleway', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 60px;
    text-align: left;
    bottom: 330px;
    right: 225px;
    

}
.about
{
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 20px;
    bottom: 310px;
    padding-left: 300px;
    padding-right: 620px;
    right: 100px;
    

}
.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    left: 200px;
    bottom: 285px;
}
  
  .btn:hover {
    background: #363336;
    background-image: -webkit-linear-gradient(top, #363336, #000000);
    background-image: -moz-linear-gradient(top, #363336, #000000);
    background-image: -ms-linear-gradient(top, #363336, #000000);
    background-image: -o-linear-gradient(top, #363336, #000000);
    background-image: linear-gradient(to bottom, #363336, #000000);
    text-decoration: none;
    color: white;
  }
  .buttonfont
  {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    position: relative;
    display: inline-block;
  }
  .btn2 {
    font-family: Arial;
    color: black;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    left: 250px;
    bottom: 283px;

  }
  
  .btn2:hover {
    background: #000000;
    text-decoration: none;
    color: #ffffff;
  }
.ten
{
    font-family: 'Roboto Mono', monospace;
    position: relative;
    display: inline-block;
    right: 100px;
    bottom: 150px;
}
.onefifty
{
    font-family: 'Roboto Mono', monospace;
    position: relative;
    display: inline-block;
    bottom: 150px;
    left: 70px;

}
.Exchange
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    position: relative;
    display: inline-block;
    right: 300px;
    bottom: 120px;
}
.tokens
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    position: relative;
    display: inline-block;
    right: 210px;
    bottom: 120px;
}
.footer
{
    background-color: black;
    width: 100%;
    height: 10rem;
}
.icons
{
    color: white;
    position: relative;
    display: inline-block;
}
.icons:hover
{
    color: white;

}
.share
{
    padding-top: 50px;
    padding-bottom: 30px;
    left: 500px;
}
.share:hover
{
       color: grey;
}
.call:hover
{
    color: grey;
}
.call
{
    padding-top: 50px;
    padding-bottom: 30px;
    left: 550px;
}
.bar{
    padding-top: 50px;
    padding-bottom: 30px;
    left: 600px;
}
.bar:hover
{
    color: grey;

}
.aboutus
{
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 20px;
    position: relative;
    display: inline-block;
    top: 30px;
    left: 375px;
    
}
.namehai
{
    left: 0px;
    top: 0px;
}